@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "colors";
@import "reboot";
@import "navigation";
/* .top-nav */
.top-nav{
  .site-brand{
    h2{
      font-size: 38px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    span{
      display: block;
      position: relative;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      top: -8px;

    }
  }
  .icon-wrapper{
    display: flex;
    align-items: center;
    i{
      padding-right: 15px;
      color:$accent-color;
      font-size: 20px;
    }
    .icon-text{
      p{
        margin: 0;
      }
      p:first-child{
        font-weight: bold;
      }
    }
  }
}
.btn-action{
  background-color: $accent-color;
  padding: 5px 15px;
  color:$white;
  border-radius: 0;
}
.btn-action:hover{
  background-color: $white;
  border: 1px solid $accent-color;
}

/* #showcase */
#showcase{
  color:$white;
  .showcase-icon{
      font-size: 60px;
    color:$white;
  }
}

/* #fox-university */
#fox-university{
  background-image: url("../images/p3.webp");
  background-size: cover;
  .university-overlay{
    padding: 112px 0;
    background: linear-gradient(45deg,rgba(13,70,40,0.5),rgba(253,95,0,1));

  }
}
